button {
  border: none;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  background: $hover;
  cursor: pointer;
  transition:  all 2s ease-in-out 0.5s;
  // -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  height: 
  45px;
  width: 45px;
  .icon {
    height: 30px;
    width: 30px;
  }
  .afterHover, .disabled {
    display: none;
    transition:  all 2s ease-in-out 0.5s;
  }
}

//remove once all icons are deleted

button:hover,
button:focus {
  .beforeHover, .disabled {
    display: none;
  }
  .afterHover {
    display: block;
  }
  background: $theader;
}

button > * {
  pointer-events: none;
}

button:disabled,
button[disabled]{
  .beforeHover, .afterHover {
    display: none;
    transition:  all 2s ease-in-out 0.5s;
  }
  .disabled {
    display: block;
    transition:  all 2s ease-in-out 0.5s;
  }
  background: $headers;
}
