body {
  font-family: $fontFamily;
  padding: 0 20vw;
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    .filter {
      display: flex;
      justify-content: flex-end;
      padding: 2em;
    }
  }
}
.bgDefault {
  background-color: $background;
}
.bgOne {
  background-image: url("../assets/bg-img/cat-heads-grey.jpg");
}
.bgTwo {
  background-image: url("../assets/bg-img/cat-heads-minimal.jpg");
}
.bgThree {
  background-image: url("../assets/bg-img/full-cat-grey.jpg");
}
.bgFour {
  background-image: url("../assets/bg-img/full-cat-multi.jpg");
}
.bgFive {
  background-image: url("../assets/bg-img/full-cat-pink.jpg");
}

header {
  background: $headers;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 5px 5px 0 0;
  .title {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
  }
}
main {
  background: #ffffff;
  min-height: 20vh;
  margin: 15px auto;
}

footer {
  background-color: $theader;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em 2em;
  border-radius: 0 0 5px 5px;
}