body {
  font-family: $fontFamily;
  padding: 0 20vw;
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    .filter {
      display: flex;
      justify-content: flex-end;
      padding: 2em;
    }
  }
}

.background-one {
  background-image: url('../assets/cat-heads-grey.jpg');
}