table {
  border-collapse: collapse;
  thead {
    background: $theader;
  }
  th,
  td {
    width: 15%;
    vertical-align: middle;
    padding: 1em 5px;
    font-size: 14px;
  }
  th {
    text-align: center;
    .afterHover {
      display: none;
    }
    .theading {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .icon {
      width: 10px;
      height: 10px;
    }
  }
  th > * {
    pointer-events: none;
  }
  
  tbody {
    tr:hover {
      background-color: $hover;
    }
    tr:nth-child(odd) {
      background-color: $background;
    }
    tr:hover:nth-child(odd) {
      background-color: $hover;
    }
    .innerAction {
      display: flex;
      justify-content: space-evenly;
      .editBtn {
        cursor: pointer;
        color: $validColor;
      }
      .deleteBtn {
        cursor: pointer;
        color: $invalidColor;
      }
    }
  }
}
