table {
    border-collapse: collapse;
    thead {
        background: $theader;
    }
    th,
    td {
      width: 15%;
      vertical-align: middle;
      padding: 1em;
      font-size: 14px;
    }
    th {
      text-align: center;
      .icon {
        width: 15px;
        height: 15px;
      }
      .afterHover {
        display: none;
      }
      .theading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    tbody {
        tr:hover {
          background-color: $hover;
        }
        tr:nth-child(odd) {
          background-color: $background;
        }
        tr:hover:nth-child(odd) {
          background-color: $hover;
        }
        .actions {
          display: flex;
          .editBtn {
            cursor: pointer;
            color: $validColor;
          }
          .deleteBtn {
            cursor: pointer;
            color: $invalidColor;
          }
    
        }
    }
}
