$background: #f4eae6;
$hover: #e57f84;
$headers: #2f5061;
$theader: #4297a0;

$fontFamily: 'Pompiere', cursive;
$invalidColor: #ffa500;
$validColor: #36cc36;

//do a box shadow mixin
//do a boder radius mixin
