$background: #F4EAE6;
$hover: #E57F84;
$headers: #2F5061;
$theader: #4297A0;

$fontFamily: sans-serif;
$invalidColor: #ffa500;
$validColor: #36cc36;



//do a box shadow mixin
//preguntar a Toti 
@mixin buttonColor($colorChange){
    color: $colorChange;
    background-color: transparent;
    border: 2px solid $colorChange;
    border-radius: 5px;
    text-transform: uppercase;
    
}
@mixin buttonHover($colorChange){
    color: #fff;
    background-color: $colorChange;

}