button {
  border: none;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  background: #e57f84;
  cursor: pointer;
  transition: all 2s ease-in-out 0.5s;
  -moz-appearance: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  height: 45px;
  width: 45px;
}
button .icon {
  height: 30px;
  width: 30px;
}
button .afterHover, button .disabled {
  display: none;
  transition: all 2s ease-in-out 0.5s;
}

button:hover,
button:focus {
  background: #4297a0;
}
button:hover .beforeHover, button:hover .disabled,
button:focus .beforeHover,
button:focus .disabled {
  display: none;
}
button:hover .afterHover,
button:focus .afterHover {
  display: block;
}

button > * {
  pointer-events: none;
}

button:disabled,
button[disabled] {
  background: #2f5061;
}
button:disabled .beforeHover, button:disabled .afterHover,
button[disabled] .beforeHover,
button[disabled] .afterHover {
  display: none;
  transition: all 2s ease-in-out 0.5s;
}
button:disabled .disabled,
button[disabled] .disabled {
  display: block;
  transition: all 2s ease-in-out 0.5s;
}

form {
  display: flex;
  flex-direction: column;
}

textarea:focus, input:focus {
  outline: none;
}

input {
  font-family: "Pompiere", cursive;
  font-size: 14px;
  width: 25em;
  border-radius: 5px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 8px;
  margin: 10px auto;
  color: #ffa500;
}

input::placeholder {
  padding: 4px;
  font-family: "Pompiere", cursive;
  font-size: 14px;
  color: gray;
}

body {
  font-family: "Pompiere", cursive;
  padding: 0 20vw;
}
body .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
}
body .container .internalHeader {
  display: flex;
  justify-content: space-between;
}
body .container .internalHeader .changeBg, body .container .internalHeader .filter {
  margin: 10px 5px;
}

.bgDefault {
  background-color: #f4eae6;
}

.bgOne {
  background-image: url("../assets/bg-img/cat-heads-grey.jpg");
}

.bgTwo {
  background-image: url("../assets/bg-img/cat-heads-minimal.jpg");
}

.bgThree {
  background-image: url("../assets/bg-img/full-cat-grey.jpg");
}

.bgFour {
  background-image: url("../assets/bg-img/full-cat-multi.jpg");
}

.bgFive {
  background-image: url("../assets/bg-img/full-cat-pink.jpg");
}

header {
  background: #2f5061;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 5px 5px 0 0;
}
header .title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

main {
  background: #ffffff;
  min-height: 20vh;
  margin: 15px auto;
}

footer {
  background-color: #4297a0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em 2em;
  border-radius: 0 0 5px 5px;
}

.hidden {
  display: none;
}

.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modalContainer .modal {
  background-color: #fff;
  margin: 5% auto;
  width: 35%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.modalContainer .modal header {
  justify-content: space-around;
}
.modalContainer .modal .delModalMain {
  width: auto;
  height: 400px;
  margin: 0;
  background-image: url(../assets/bg-img/dead-cat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modalContainer .modal .delModalMain .warning {
  padding: 4em 10px;
  font-weight: bolder;
  font-size: 20px;
}

.msg {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: -10%;
  margin: 10% 5%;
  padding: 1% 20%;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.didWork {
  background: #36cc36;
  animation: confirmation 2s ease-in-out 1;
}

.didNotWork {
  background: #ffa500;
  animation: confirmation 2s ease-in-out 1;
}

@keyframes confirmation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
table {
  border-collapse: collapse;
}
table thead {
  background: #4297a0;
}
table th,
table td {
  width: 15%;
  vertical-align: middle;
  padding: 1em 5px;
  font-size: 14px;
}
table th {
  text-align: center;
}
table th .afterHover {
  display: none;
}
table th .theading {
  display: flex;
  flex-direction: row;
  align-items: center;
}
table th .icon {
  width: 10px;
  height: 10px;
}
table th > * {
  pointer-events: none;
}
table tbody tr:hover {
  background-color: #e57f84;
}
table tbody tr:nth-child(odd) {
  background-color: #f4eae6;
}
table tbody tr:hover:nth-child(odd) {
  background-color: #e57f84;
}
table tbody .innerAction {
  display: flex;
  justify-content: space-evenly;
}
table tbody .innerAction .editBtn {
  cursor: pointer;
  color: #36cc36;
}
table tbody .innerAction .deleteBtn {
  cursor: pointer;
  color: #ffa500;
}

.tooltiptext {
  display: hidden;
  opacity: 0;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  background: #36cc36;
  color: white;
  transition: opacity 0.3s;
  font-family: "Pompiere", cursive;
  margin-left: -90px;
}

button:hover .tooltiptext {
  display: block;
  opacity: 1;
}

label.valid {
  color: #36cc36;
}

label.invalid {
  color: #ffa500;
  font-weight: bold;
}

input.valid {
  border-color: #36cc36;
  color: #36cc36;
}
input.valid + div {
  display: none;
}

input.invalid {
  border-color: #ffa500;
}
input.invalid + div {
  display: block;
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
  color: #ffa500;
  font-weight: bold;
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
